<div class="simple-text-badge-widget" {{ block.shopify_attributes }}>
  <!-- Widget content will be rendered by JavaScript -->
</div>

{% schema %}
{
  "name": "Simple Text Badge",
  "target": "section"
}
{% endschema %}

